{{ 'base.css' | asset_url | stylesheet_tag }}
{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
<main>
  <div class="pages_bg_sp">
    <section class="subapge_head fadeInTrigger">
      <div class="head_img">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/subpages_head_bg.png"
          alt=""
          width="968"
          height="968"
        >
      </div>
      <h1 class="subapge_jp">お問い合わせ</h1>
      <p class="subpage_txt">CONTACT</p>
    </section>
    <!-- subapge_head -->
    <div class="wrapper">
      <section class="contact fadeUpTrigger">
        <p class="contact_lead pc">
          入力フォームに必要事項をご記入のうえ、「送信する」ボタンをクリックしてください。<br>
          メールまたはお電話にて担当者より折り返しご連絡させていただきます。
        </p>
        <div class="contact_form">
          {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
            <div class="form-group">
              <label for="name">お名前</label>
              <input type="text" id="name" name="contact[お名前]" required>
            </div>
            <div class="form-group">
              <label for="name-kana">お名前（カナ）</label>
              <input type="text" id="name-kana" name="contact[お名前（カナ）]" required>
            </div>
            <div class="form-group">
              <label for="email">メールアドレス</label>
              <input type="email" id="email" name="contact[email]" required>
            </div>
            <div class="form-group">
              <label for="phone">お電話番号</label>
              <input type="tel" id="phone" name="contact[お電話番号]" required>
            </div>
            <div class="address_box">
              <p class="form_ttl">ご住所</p>
              <div class="form-group">
                <label for="postal-code">郵便番号</label>
                <input type="text" id="postal-code" name="contact[郵便番号]" required>
              </div>
              <div class="form-group select">
                <label for="prefecture">都道府県</label>
                <select id="prefecture" name="contact[都道府県]" required>
                  <option value=""></option>
                  <option value="北海道">北海道</option>
                  <option value="青森県">青森県</option>
                  <option value="岩手県">岩手県</option>
                  <option value="宮城県">宮城県</option>
                  <option value="秋田県">秋田県</option>
                  <option value="山形県">山形県</option>
                  <option value="福島県">福島県</option>
                  <option value="茨城県">茨城県</option>
                  <option value="栃木県">栃木県</option>
                  <option value="群馬県">群馬県</option>
                  <option value="埼玉県">埼玉県</option>
                  <option value="千葉県">千葉県</option>
                  <option value="東京都">東京都</option>
                  <option value="神奈川県">神奈川県</option>
                  <option value="新潟県">新潟県</option>
                  <option value="富山県">富山県</option>
                  <option value="石川県">石川県</option>
                  <option value="福井県">福井県</option>
                  <option value="山梨県">山梨県</option>
                  <option value="長野県">長野県</option>
                  <option value="岐阜県">岐阜県</option>
                  <option value="静岡県">静岡県</option>
                  <option value="愛知県">愛知県</option>
                  <option value="三重県">三重県</option>
                  <option value="滋賀県">滋賀県</option>
                  <option value="京都府">京都府</option>
                  <option value="大阪府">大阪府</option>
                  <option value="兵庫県">兵庫県</option>
                  <option value="奈良県">奈良県</option>
                  <option value="和歌山県">和歌山県</option>
                  <option value="鳥取県">鳥取県</option>
                  <option value="島根県">島根県</option>
                  <option value="岡山県">岡山県</option>
                  <option value="広島県">広島県</option>
                  <option value="山口県">山口県</option>
                  <option value="徳島県">徳島県</option>
                  <option value="香川県">香川県</option>
                  <option value="愛媛県">愛媛県</option>
                  <option value="高知県">高知県</option>
                  <option value="福岡県">福岡県</option>
                  <option value="佐賀県">佐賀県</option>
                  <option value="長崎県">長崎県</option>
                  <option value="熊本県">熊本県</option>
                  <option value="大分県">大分県</option>
                  <option value="宮崎県">宮崎県</option>
                  <option value="鹿児島県">鹿児島県</option>
                  <option value="沖縄県">沖縄県</option>
                </select>
              </div>
              <div class="form-group">
                <label for="address">市区町村・番地</label>
                <input type="text" id="address" name="contact[市区町村・番地]" required>
              </div>
              <div class="form-group">
                <label for="building">建物名</label>
                <input type="text" id="building" name="contact[建物名]">
              </div>
            </div>
            <div class="form-group">
              <label for="content">内容</label>
              <textarea id="content" name="contact[body]" rows="5" required></textarea>
            </div>

            <div class="policy_check">
              <input type="checkbox" autocomplete="off" name="agree_privacy" id="agree" value="">
              <label for="agree">
                <a href="{{ pages.policy.url }}" class="policy_link" target="_blank">プライバシーポリシー</a
                >に同意の上、<br class="sp">
                送信ボタンを押してください。
              </label>
            </div>
            <button
              name="confirm"
              type="submit"
              id="submit"
              value="submit"
              class="submit-btn disabled-btn"
              readonly="readonly"
            >
              送信する
            </button>
            {% comment %} <button type="submit" class="submit-btn" id="submit" value="submit" disabled>送信する</button> {% endcomment %}
            {% comment %} <button type="submit" class="submit-btn">送信する</button> {% endcomment %}
            {%- if form.posted_successfully? -%}
              <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </h2>
            {%- elsif form.errors -%}
              <div class="form__message">
                <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                  {% render 'icon-error' %}
                  {{ 'templates.contact.form.error_heading' | t }}
                </h2>
              </div>
              <ul class="form-status-list caption-large" role="list">
                <li>
                  <a href="#ContactForm-email" class="link">
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}
                  </a>
                </li>
              </ul>
            {%- endif -%}
          {%- endform -%}
        </div>
        <!-- form -->
      </section>
      <!-- company -->
    </div>
  </div>
</main>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
